.dashboard-content {
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
}

.dashboard-content .text {
    font-size: 25px;
    font-weight: 500;
    color: #1d1b31;
    margin-top: 7rem;
    margin-left: 1rem;
}

.sidebar.active~.dashboard-content {
    width: calc(100% - 240px);
    left: 240px;
}